
<form action="https://httpbin.org/get" method="get" autocomplete="off" novalidate>
	<div class="mb-3">
		<label class="form-label">用户名</label>
		<input type="text" name="username"  class="form-control" >
	</div>
	<div class="mb-2">
		<label class="form-label">
			密码
		</label>
		<input type=password name="password" class="form-control">
	</div>

	<div class="form-footer">
		<button type="button" class="btn btn-primary w-100" id="button">登录</button>
	</div>
</form>
{% include ui/fail.html id="fail" size="sm" info="登录失败" %}
<script>

	document.addEventListener('DOMContentLoaded', function() {
		const button = document.getElementById("button")
		const fail = document.getElementById("fail")
		const username=document.getElementsByName("username")[0]
		const password=document.getElementsByName("password")[0]

		button.addEventListener('click', function(event) {
			const url=`http://localhost:9090/login/check`
			const formData = new FormData();
			formData.append("username",username.value)
			formData.append("password",password.value)
			fetch(url, {
				method: 'POST',
				body: formData,
				credentials: 'include'
			})
				.then(response => {
					if (response.ok) {
						return response.json();
					}
					fail.classList.add('show');
					fail.style.display = 'block';
					throw new Error('Network response was not ok.');
				})
				.then(data => {
					console.log(data);
					if (data.code===0) {
						window.location.href = '{{ site.base }}/workbench.html'; // 重定向到指定页面
					}
					else {
						fail.classList.add('show');
						fail.style.display = 'block';
					}
				})
				.catch(error => {
					console.error('Error:', error);
					fail.classList.add('show');
					fail.style.display = 'block';
				});


		});

		document.addEventListener("keypress", function(event) {
			if (event.key === "Enter") { // 检查按下的键是否是回车键
				event.preventDefault(); // 阻止默认的回车键行为
				button.click(); // 模拟点击按钮
			}
		});
	});
	function closeFailModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
		location.reload();
	}

</script>
