---
layout: default
---


<form class="card" action="https://httpbin.org/post" method="post" autocomplete="off" novalidate >
	<div class="card-header">
	<h4 class="card-title">登录设置</h4>
	</div>
	<div class="card-body">
	<div class="mb-3">
		<label class="form-label">用户名</label>
		<input type="text" name="username" class="form-control" >
	</div>
	<div class="mb-3">
		<label class="form-label">密码</label>
		<input type="text" name="password" class="form-control" >
	</div>

	<div class="form-footer">
		<button type="button" id="button" class="btn btn-primary w-100">修改</button>
	</div>
	</div>
</form>
{% include ui/success.html id="success" size="sm" info="修改成功" %}
{% include ui/fail.html id="fail" size="sm" info="修改失败" %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		// 每10秒执行一次检测登录状态的函数
		setInterval(checkLoginStatus, 10000);
		const success = document.getElementById("success")
		const fail = document.getElementById("fail")
		const button = document.getElementById("button")
		const username = document.getElementsByName("username")[0]
		const password = document.getElementsByName("password")[0]

		button.addEventListener('click', function(event) {
			const formData = new FormData();
			formData.append('username', username.value);
			formData.append('password', password.value);

			const url = `http://localhost:9090/login/update`
			fetch(url, {
				method: 'POST',
				body: formData,
				credentials: 'include'
			})
				.then(response => {
					if (response.ok) {
						return response.json();
					}
					fail.classList.add('show');
					fail.style.display = 'block';
					throw new Error('Network response was not ok.');
				})
				.then(data => {
					console.log(data);
					if (data.code === 0) {
						success.classList.add('show');
						success.style.display = 'block';
					} else {
						fail.classList.add('show');
						fail.style.display = 'block';
					}

				})
				.catch(error => {
					console.error('Error:', error);
					fail.classList.add('show');
					fail.style.display = 'block';
				});


		});
	});

	function closeSuccessModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
		location.reload();
	}

	function closeFailModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
	}

	function checkLoginStatus() {
		// 发送 AJAX 请求到服务器
		// 例如，使用 fetch API 或者 XMLHttpRequest
		fetch('http://localhost:9090/login/checkCookie',{
			method: 'GET',
			credentials: 'include'
		})
			.then(response => {
				// 处理服务器响应，这里可以根据服务器返回的数据进行相应的逻辑处理
				if (response.ok) {
					return response.json();
				} else {
					window.location.href = '{{ site.base }}/sign-in.html';
					throw new Error('Network response was not ok.');
				}
			})
			.then(data => {
				// 在这里处理服务器返回的数据，例如检查登录状态
				if (data.code===0) {

				} else {
					window.location.href = '{{ site.base }}/sign-in.html';
				}
			})
			.catch(error => {
				// 处理错误
				console.error('There was a problem with the fetch operation:', error);
				window.location.href = '{{ site.base }}/sign-in.html';
			});
	}


</script>
