---
menu: 上传测评
libs: dropzone,nouislider, autosize, tabler-flags, tabler-payments, litepicker, tom-select
layout: default
---
<style>
	.centered-zip {
		width: 250px;

		margin: 0 auto;
	}
	.centered-form {
		margin: 30px;

	}

	.custom-margin-1 {
		margin-right: 10px;
		margin-left: 10px;
	}
	.custom-margin-2 {
		margin-top: 15px;

	}
	.custom-margin-3 {
		margin-top: 5px;

	}
	.drop {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8px;
		background-color: #ffffff;
		color: #000000;
		cursor: pointer;
		border: 1px solid #000;
		border-radius: 5px;
	}
	#filename {
		display: flex;
		text-align: center; /* 使文本水平居中 */
		justify-content: center; /* 水平居中文本 */
		width: 200px; /* 设置元素宽度，超过这个宽度的内容将会省略 */

	}

</style>

<div class="centered-form">
	<form action="https://httpbin.org/post" method="post" >
		<div class="centered-zip">

						<label for="upload" class="drop" >
							<img src="static/file-upload.png" width="70px" height="70px">
							<span class="custom-margin-3" id="filename">未选择文件</span>
							<span class="custom-margin-3">点击或拖拽文件上传</span>
						</label>
						<input  name="file" id="upload" type="file" accept="application/zip" style="display: none"/>


		</div>
		<div class="card custom-margin-2">
					<div class="card-header">
						<h4 class="card-title">文件信息</h4>
					</div>
					<div class="card-body">
				<div class="row">
					<div class="col-md-4 col-xl-8 custom-margin-1">
						<label class="form-label">测评地点</label>
							<input type="text" name="location" class="form-control" placeholder="请输入">

					</div>

					<div class="col-md-4 col-xl-8 custom-margin-1">
						<label class="form-label">测评日期</label>
							{% include ui/datepicker.html id="icon" layout="icon" %}

					</div>

					<div class="col-md-3 col-xl-6 custom-margin-1">
						<label class="form-label">测评人员</label>
						<input type="text" name="name" class="form-control" placeholder="请输入">
					</div>
				</div>
					<div class="row custom-margin-2">
						<div class="col-md-3 col-xl-6 custom-margin-1">
							<label class="form-label">车辆品牌</label>
							<input type="text" name="brand" class="form-control" placeholder="请输入">

						</div>

						<div class="col-md-5 col-xl-10 custom-margin-1">
							<label class="form-label">车辆型号</label>
							<input type="text" name="model" class="form-control" placeholder="型号/年份">

						</div>

						<div class="col-md-3 col-xl-6 custom-margin-1">
							<label class="form-label">智驾版本</label>
							<input type="text" name="version" class="form-control" placeholder="请输入">
						</div>
					</div>
					<div class="row custom-margin-2">
						<div class="col-md-11 col-xl-22 custom-margin-1">
							<label class="form-label">测评路线</label>
							<input type="text" name="path" class="form-control" placeholder="请输入">
						</div>
					</div>
					<div class="row custom-margin-2">
						<div class="col-md-11 col-xl-22 custom-margin-1">
						<label class="form-label">其他说明</label>
							{% include ui/form/textarea-autosize.html name="info"%}
						</div>
					</div>
					</div>
					<div class="card-footer text-end custom-margin-2">
						<div class="d-flex">
							<button type="button" id="button"  class="btn btn-primary ms-auto">保存上传</button>
						</div>
					</div>
		</div>
			</form>

</div>
{% include ui/success.html id="success" size="sm" info="上传成功" %}
{% include ui/fail.html id="fail" size="sm" info="上传失败" %}
{% include ui/fail.html id="zip" size="sm" info="请上传 Zip 格式文件" %}
{% include ui/loading.html id="loading" size="sm" info="上传中" %}
<script>
	let controller = new AbortController();
	let signal = controller.signal;
	document.addEventListener("DOMContentLoaded", function() {

		const loading = document.getElementById("loading")
		const success = document.getElementById("success")
		const fail = document.getElementById("fail")
		const zip = document.getElementById("zip")
		const button = document.getElementById("button")
		const file = document.getElementById("upload")
		const filename = document.getElementById("filename")
		const location=document.getElementsByName("location")[0]
		const date=document.getElementsByName("date")[0]
		const name=document.getElementsByName("name")[0]
		const brand=document.getElementsByName("brand")[0]
		const model=document.getElementsByName("model")[0]
		const version=document.getElementsByName("version")[0]
		const path=document.getElementsByName("path")[0]
		const info=document.getElementsByName("info")[0]

		file.addEventListener('change', function() {
			if (file.files.length > 0) {
				if (file.files[0].name.split(".").pop().toLowerCase() === "zip") {
					filename.textContent = file.files[0].name;
				} else {
					file.value = null;
					filename.textContent = '未选择文件';
					zip.classList.add('show');
					zip.style.display = 'block';
				}
			} else {
				filename.textContent = '未选择文件';
			}
		});

		button.addEventListener('click', function(event) {
			const formData = new FormData();
			controller=new AbortController();
			signal = controller.signal;
			formData.append('file', file.files[0]); // 获取文件输入框中选择的文件
			formData.append('location', location.value);
			formData.append('date', date.value);
			formData.append('name', name.value);
			formData.append('brand', brand.value);
			formData.append('model', model.value);
			formData.append('version', version.value);
			formData.append('path', path.value);
			formData.append('info', info.value);

			const url=`https://httpbin.org/post`
			fetch(url, {
				method: 'POST',
				body: formData,
				signal: signal
			})
				.then(response => {
					loading.classList.add('hide');
					loading.style.display = 'none';
					if (response.ok) {
						return response.json();
					}
					fail.classList.add('show');
					fail.style.display = 'block';
					throw new Error('Network response was not ok.');
				})
				.then(data => {
					console.log(data);
					success.classList.add('show');
					success.style.display = 'block';

				})
				.catch(error => {
					console.error('Error:', error);
					loading.classList.add('hide');
					loading.style.display = 'none';
					fail.classList.add('show');
					fail.style.display = 'block';
				});
			loading.classList.add('show');
			loading.style.display = 'block';

		});
	});
	function closeSuccessModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
		location.reload();
	}
	function closeFailModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
	}
	function closeLoadingModal(modalId) {
		var modal = document.getElementById(modalId); // 获取要关闭的模态框元素
		modal.classList.add('hide');
		modal.style.display = 'none';
		controller.abort();
	}
</script>
